.booking {
  background-image: url(https://ayaemo.skr.jp/images/material/fantasy/800x600/fantasy01_day%20by%20Karen%20Roe.jpg);
  /* 画面いっぱいに */
  background-position: center center;
  background-repeat: no-repeat;
  /* height: auto; */
  background-attachment: fixed;
  background-size: cover;
  /* 画像を明るくして透過してる風にする */
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.booking h1 {
  color: #325a8c;
}
.booking h1::before,
.booking h1::after {
  content: "□";
}
.booking h1::before {
  left: 0;
  top: -3px;
}
.booking h1::after {
  left: 5px;
  top: 3px;
  color: #a1b8d1;
}

.booking {
  text-align: center;
  margin: 0 auto;
}

.calendar_container {
  width: 300px;
  margin: 0 auto;
}

.book_table {
  width: 300px;
  margin: 0 auto;
}

.book_table td {
  text-align: left;
}

.book_button Button {
  width: 300px;
  text-align: center;
}

.radio_label {
  display: inline-block;
  margin: 0 auto;
}
