.booking {
  text-align: center;
  margin: 0 auto;
}

.calendar_container {
  width: 300px;
  margin: 0 auto;
}


.book_table {
  width: 300px;
  margin: 0 auto;
}

.book_table td {
  text-align: left;
}

.book_button {
  width: 300px;
  text-align: center;
}