
/*h1*/
.APP h1 {
	font-size:20px;
	color: #325A8C;
}
.APP h1::before,
.APP h1::after{
	content: "□";
}
.APP h1::before{
	left:0;
	top:-3px;
}
.APP h1::after{
	left: 5px;
	top: 3px;
	color: #A1B8D1;
}

/*APP*/
.APP {
  text-align: center;
}

/*btn*/
.btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}

/*カーソル合わせてるとき*/
.btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

/*plan*/
.plan {
  text-align: left;
  padding: 1em 1em;
  margin: 3em 1em;
  display: inline-block;
  color: #2c2c2f;
  background: #cde4ff;/*背景色*/
}
