.all {
  background-image: url(https://ayaemo.skr.jp/images/material/fantasy/800x600/fantasy01_day%20by%20Karen%20Roe.jpg);
  /* 画面いっぱいに */
  background-position: center center;
  background-repeat: no-repeat;
  /* height: auto; */
  background-attachment: fixed;
  background-size: cover;
  /* 画像を明るくして透過してる風にする */
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.all h1 {
  color: #325a8c;
}
.all h1::before,
.all h1::after {
  content: "□";
}
.all h1::before {
  left: 0;
  top: -3px;
}
.all h1::after {
  left: 5px;
  top: 3px;
  color: #a1b8d1;
}

/* 全体を真ん中に配置 */
.all {
  text-align: center;
}

.all input {
  position: relative;
  margin: 10px 0 0 30px;
  font-size: 15px;
  width: 400px;
}

/*ファイルの選択ボタンを無理やり隠す*/
.all input::before {
  display: block;
  color: #fff;
  font-size: 14px;
  background: #1e29bd;
  padding: 3px 2px;
  border-radius: 5px;
  text-align: center;
  content: "ファイルの添付";
  position: absolute;
  width: 120px;
  height: 30px;
}
